.aircraft-list-wrapper {
    width: 25%;
    padding: 15px;
    float: left;
}

.aircraft-list {
    width: 100%;
    list-style: none;
    padding: 0;
}

.aircraft-list-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.aircraft-list-item:hover,
.aircraft-list-item--selected {
    background: #eee;
    border-color: #999;
}

.aircraft-list-item--selected {
    border-style: dashed;
}